services:
  postgres:
    image: 'postgres:17.4-alpine'
    environment:
      - 'POSTGRES_DB=serviceslicer'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'

  neo4j:
    image: 'neo4j:5.26.13-community'
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc", "graph-data-science"]'
      NEO4J_dbms_security_procedures_unrestricted: "gds.*,apoc.*"
      NEO4J_dbms_security_procedures_allowlist: "gds.*,apoc.*"
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_apoc_import_file_enabled: "true"
    ports:
      - '7474:7474'
      - '7687:7687'

  minio:
    image: 'minio/minio:latest'
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio-data:/data

  prometheus:
    image: 'prom/prometheus:v3.0.1'
    ports:
      - '9091:9090'
    volumes:
      - ./backend/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--enable-feature=native-histograms'
      - '--web.enable-remote-write-receiver'
    extra_hosts:
      - "host.docker.internal:host-gateway"

  backend:
    build: ./backend
    env_file:
      - ./env/backend.env
    environment:
      SPRING_PROFILES_ACTIVE: demo
    depends_on:
      - postgres
      - neo4j
      - minio
    ports:
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker:ro
      - /usr/libexec/docker/cli-plugins:/usr/libexec/docker/cli-plugins:ro
      - /home/deploy/.ssh/id_ed25519:/home/deploy/.ssh/id_ed25519:ro

volumes:
  minio-data:
  grafana-data:
  prometheus-data:
