services:
  postgres:
    image: 'postgres:17.4-alpine'
    environment:
      - 'POSTGRES_DB=serviceslicer'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    ports:
      - '33771:5432'

  neo4j:
    image: 'neo4j:5.26.13-community'
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc", "graph-data-science"]'
      NEO4J_dbms_security_procedures_unrestricted: "gds.*,apoc.*"
      NEO4J_dbms_security_procedures_allowlist: "gds.*,apoc.*"
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_apoc_import_file_enabled: "true"
    ports:
      - '7474:7474'
      - '7687:7687'

  minio:
    image: 'minio/minio:latest'
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio-data:/data

  prometheus:
    image: 'prom/prometheus:v3.0.1'
    ports:
      - '9091:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--enable-feature=native-histograms'
      - '--web.enable-remote-write-receiver'
    extra_hosts:
      - "host.docker.internal:host-gateway"

#  grafana:
#    image: 'grafana/grafana:11.3.1'
#    environment:
#      - 'GF_AUTH_ANONYMOUS_ENABLED=true'
#      - 'GF_AUTH_ANONYMOUS_ORG_ROLE=Admin'
#      - 'GF_AUTH_DISABLE_LOGIN_FORM=true'
#    ports:
#      - '3000:3000'
#    volumes:
#      - grafana-data:/var/lib/grafana
#    depends_on:
#      - prometheus

volumes:
  minio-data:
  grafana-data:
  prometheus-data:
