server:
  servlet:
    context-path: /api

spring:
  application:
    name: ServiceSlicer
  datasource:
    url: jdbc:postgresql://localhost:5432/serviceslicer
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog.xml
    default-schema: public
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: password
    data:
      database: neo4j
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}

management:
  endpoints:
    web:
      exposure:
        include: prometheus,info,health
  endpoint:
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}

k6:
  docker-image: ghcr.io/xbodnar/ss-k6:latest
  test-duration: 1m

prometheus:
  remote-write-url: http://host.docker.internal:9091/api/v1/write
  query-url: http://localhost:9091

minio:
  endpoint: http://localhost:9000
  external-endpoint: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: serviceslicer
  presigned-url-expiration: 3600

logging:
  level:
    cz.bodnor.serviceslicer: INFO
    org.springframework: INFO
    org.hibernate: WARN
    org.springframework.data.neo4j.cypher.deprecation: ERROR
    org.springframework.data.neo4j.cypher.unrecognized: ERROR
