name: CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths:
      - 'backend/**'
      - '.github/workflows/ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Temurin JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Run ktlint format
        working-directory: ./backend
        run: ./mvnw -B -ntp ktlint:format

      - name: Commit formatting changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: apply ktlint formatting [skip ci]"
          file_pattern: "backend/**/*.kt"

      - name: Compile source code
        working-directory: ./backend
        run: ./mvnw -B -ntp clean compile

      - name: Run ktlint check
        working-directory: ./backend
        run: ./mvnw -B -ntp ktlint:check

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Temurin JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Run tests
        working-directory: ./backend
        run: ./mvnw -B -ntp test
